---
extension: html
filter:    haml
---

%html
  %head
    %title EAX Artur Roszczyk
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/site.css"}
%body
  #header
    = render :partial => "header"
  %h2= @page.title
  = @content
  #footer
    = render :partial => "footer" 